<html>
    <head>
        <title>PaperJS - Starter Canvas</title>
        <!-- An AMD-loader like RequireJS is necessary for srlib's asynchronous modules -->
        <script src="/static/js/require.js"></script>
        <!-- Load srlib following RequireJS -->
        <script src="/static/js/srlib.js"></script> 
        <!--Paper JS-->
        <script src="/static/js/paper-full.js"></script>
        <!-- DOM to Image -->
        <!-- <script src="/static/js/dom-to-image.js"></script> -->
        <!-- FileSaver -->
        <!-- <script src="/static/js/FileSaver.js"></script> -->

        <!-- <script src="/static/js/reimg.js"></script> -->


        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.0/d3.min.js"></script>
        <script src="/static/js/c3.min.js"></script>

        <script src="/static/js/chart.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <!--Fonts and styling-->
        <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>

        <link rel="stylesheet" type="text/css" href="/static/css/c3.css">

        <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet'>
   
    </head>
    <body> 
    <!-- <button id="recognize">Recognize</button> -->
    <script type="text/paperscript" canvas="canvas">

    var renderChart = function (res) {
        console.log(res['0']);
        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light1", // "light1", "light2", "dark1", "dark2"
            title:{
                text: ""
            },
            axisY: {
                title: ""
            },
            data: [{        
                type: "column",  
                showInLegend: false, 
                //legendMarkerColor: "grey",
                legendText: "",
                dataPoints: [      
                    { y: res['0'][0], label: "Image" },
                    { y: res['0'][1],  label: "Video" },
                    { y: res['0'][2],  label: "Navbar" },
                    { y: res['0'][3],  label: "Button" },
                    { y: res['0'][4],  label: "Dropdown" }
                ]
            }]
        });
        chart.render();
    }


    


    var canvas = document.getElementById('canvas'),
    ctx = canvas.getContext('2d');
    //ctx.lineWidth=10;

    
    //ctx.moveTo(170, 80);

    //canvas.onmousedown = function (e) {
        //e.preventDefault();
        //ctx.beginPath();
        //ctx.stroke();
    //}
    


    function downloadCanvas(link, canvasId, filename) {
        var img = document.getElementById(canvasId).toDataURL();
        //var file = dataURItoBlob(img);
        //console.log(file);
        //var data = new FormData();
        //data.append('media[]', file, 'elfie.png');
        //link.download = filename;
        //console.log(data);
        $.ajax({
          type: "POST",
          url: "/save",
          data:{
            imageBase64: img,
            class: "image"
          }
        }).done(function(res) {
          console.log(res);
          renderChart(res);
          //window.location = "/video"
          
        });
    }

    /** 
     * The event handler for the link's onclick event. We give THIS as a
     * parameter (=the link element), ID of the canvas and a filename.
    */
    document.getElementById('download').addEventListener('click', function() {
        downloadCanvas(this, 'canvas', 'test.png');
    }, false);


    //document.getElementById('clear').addEventListener('click', function() {
        //$('#canvas').sketch('actions',[]);
        //ctx.closePath();
        //ctx.lineWidth = 5;
        //context.strokeStyle = 'blue';
        //ctx.stroke();
        //ctx.clearRect(0, 0, canvas.width, canvas.height);
        //var ctx = canvas.getContext('2d');
        //ctx.beginPath();
    //}, false);



    /**
     * Draw something to canvas
     */
    //doCanvas();


                    
    function onMouseDown(event) {
        // PaperJS add a new Path object and initial starting point
        // console.log(event.point);
        //ctx.beginPath();
        path = new Path();
        path.strokeColor = 'black';
        path.strokeWidth = 2;
        path.add(event.point);
        
        // SRLlib add a new Stroke object and initial starting point
        stroke = new srlib.core.data.container.Stroke();
        point = new srlib.core.data.container.Point(event.point.x,event.point.y)
        if (typeof sketch == "undefined") {
            sketch = new srlib.core.data.container.Sketch();
        }
        sketch.addStroke(stroke);
        sketch.addPoint(point);
        stroke.addPoint(point);
    }

    function onMouseDrag(event) {
    // PaperJS add points to Path object on mouse drag
    // console.log(event.point);
    path.add(event.point);

    // SRLlib add points to Stroke on mouse drag
    point = new srlib.core.data.container.Point(event.point.x,event.point.y)
    sketch.addPoint(point);
    stroke.addPoint(point);
    }

    function onMouseUp(event) { 
    
    // Add evaluation / recognition functions or whatever you want here!
    
    }
    
    </script> 
    <div class="container">  
        <div class="row text-center">
            <div class="col-md-6">
                <div>
                    <h3>Sketch a wireframe: </h3>
                    <!-- <img src="/static/img/image.png" style="height:200px; width: 200px;"> -->
                    <!-- <button id="clear" class="btn btn-lg btn-primary">Clear</button> -->
                </div>
                <br>
                <div class="box" style="margin-left: 50px;" class="text-center">
                    <canvas width="500" height="300" id="canvas" style="width: 500px; height: 300px;" type=file name=file>Sorry, no canvas available</canvas>
                </div>
            

                <br>
                <br>
                <div class="text-center">
                    <a type="submit" value="Next" class="btn btn-lg btn-primary btn-block"  id="download" style="width:500px; margin-left:50px;">Recognize</a>
                </div>
                <!-- <button id="clear" class="btn btn-primary">Clear</button> -->
            </div>
            <div class="col-md-6" style="margin-top: 130px;">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>

        </div>
    </div>
    
    
   </body>
 </html>
